<div class="container">
  <form {{action "saveChanges" on="submit"}}>  

    <div class="row">
      <div class="input-field">
        {{input type="text" value=user.first_name name="first-name" placeholder="first name" class="validate"}}
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        {{input type="text" value=user.last_name name="last-name" placeholder="last name" class="validate"}}
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        {{input type="text" value=user.email name="email" placeholder="email" class="validate"}}
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        {{input type="text" value=user.position name="position" placeholder="position" class="form-control"}}
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        {{input type="text" value=user.title name="title" placeholder="title" class="form-control"}}
      </div>
    </div>
    
    <div class="row">
      <div class="input-field">
        {{input type="text" value=user.company name="company" placeholder="company" class="form-control"}}
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <img src={{avatar.profile_url}} alt="avatar">
        {{file-upload 
          url="http://www.localhost:3000/api/file_upload"
          setMetaData=(action "setMetaData")}}
      </div>
    </div>

    <div class="row">
      <button type="submit" name="submit" class="waves-effect waves-light btn account-settings-submit">
        Save
      </button>
    </div>

  </form>
</div>